<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="width=device-width, inital-scale=1.0">
    <title>Unreally</title>
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../assets/script.js"></script> 
</head>
<body>
    <!-- overlay -->
    <div id="overlay-container" class="overlay">
        <a class="closebtn" onclick="closeOverlay()">×</a>
        <div class="overlay-content">
            <!-- overlay content -->
            <h2>Result:</h1>
                <p id="text03" class="source">{% if answer %}{{answer}}{% endif %}</p>
                <h2 id="text04" class="source">Sources:</h2>
                {% if sources %}
                <div id="list01" class="source">
                    <ul>
                        {% for source in sources %}
                        <li>
                            <p id="text03" class="source"><a class="source" href={{source}}>{{source}}</a></p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
        </div>
    </div> 
    <div class="head">
        <h1>Unreally</h2>
        <h4>Get real-time internet context for claims. Enter a single one or upload a document and we will extract the key claims. Then press the orange button.</h4>
    </div>
    <!-- search bar -->
    <div class="container">
        <!-- file upload button -->
        <!-- <button class="upbutton" type="submit"><img src="../assets/images/upload.svg"></button> -->
        <input type="file" id="upload" hidden name="myfile" accept="application/pdf"/>
        <label for="upload"><img src="../assets/images/upload.svg"></label>

        <form enctype="multipart/form-data" id="form01" action="/done" method="post" class="search-bar">
            <input id="search-bar-input" type="text" placeholder="enter a claim" name="claim">
            <img src="../assets/images/search.svg">
            <button id="gobuttonLoad" class="buttonload" type="submit">
                <i class="fa fa-refresh fa-spin"></i>
            </button>
            <button id="gobuttonDefault" type="submit">
                <img src="../assets/images/arrow-right.svg">
            </button>
            {% if query %}
                <script>openOverlay()</script>
            {% endif %}
        </form>
        

    </div>

</body>
</html>